<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weatherIcon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>The weather service is powered by <a href="https://weatherstack.com/" target="_blank">weatherstack.com</a> API, this is a simple project built on node.js and HBS</p>
        <img class="portrait" src="/img/me.jpg">
        <p>My name is Gabriel, i'm an engineering student from Argentina, i speak Spanish as native language, English
            and German. I've been studying programming since 2019 and enjoying it. Here's my github link:
            <a href="https://github.com/mercadogabriel91">https://github.com/mercadogabriel91</a> feel free to contact me. </p>
    </div>
    {{>footer}}
</body>

</html>